# Flutter/Dart
.dart_tool/
.packages
.pub/
build/
coverage/
pubspec.lock

# IDEs y editores
.idea/
.vscode/
*.iml

# SO (archivos temporales del sistema)
.DS_Store
Thumbs.db

# Logs
*.log

# Flutter Desktop - generados automáticamente
linux/
macos/
windows/

# Web build
web/.dart_tool/
web/.flutter-plugins
web/.flutter-plugins-dependencies
web/.packages
